venv/
.env

Images_Unsupervise/
Images_Supervise/
output/
input_gray/

__pycache__/
*.pyc

data/

.vscode/

chatbot/credentials.json

chatbot/token.pickle

chatbot/test.py

thathinh.index

mapping.json